<ion-header>
  <ion-toolbar color="primary">
    <ion-title > Family Law</ion-title>
    <ion-item slot="end">
      <ion-label>Select a Language</ion-label>
      <ion-select>
        <ion-select-option value="f">English</ion-select-option>
        <ion-select-option value="m">IsiZulu</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >

    <div align='center'>
      <img src="../../assets/images/family2.jpg">
    </div>
    <ion-card>
      <p align="center"><i>
        Family law is the branch of civil law that deals with marriage,
        divorce, annulment, child custody, adoption, birth, child support, <br>
        and any other issues affecting families. This branch of civil law 
        is unique in that there is not necessarily a person who committed a <br>
        civil wrong. This is particularly true in states that have no-fault 
        divorces. The family court gets involved with dividing up property <br>
        and finances after a divorce, establishing child custody, child support, 
        and spousal support among other things. Some newer areas that fall under <br>
        the family law umbrella are same-sex marriage, artificial conception, s
        urrogate motherhood, in vitro fertilization, and palimony.
      </i></p>
    </ion-card>
  
    <ion-card >
      <ion-card-content align="center"><u>
        Steps to take when Lodging a Case
      </u></ion-card-content>
      <ion-card-title>
        <ion-icon name="heckmark-outline"></ion-icon>Carry your Identity Competion<br>
        <ion-icon name="heckmark-outline"></ion-icon>write your statement down if you can<br>
        <ion-icon name="heckmark-outline"></ion-icon>Pictures of scene of the crime scene
      </ion-card-title>
    </ion-card>
  
    <ion-card align="center">
      <ion-card-content >
        <b><u>Your Human Rights</u></b>
      </ion-card-content>
      <ion-card-title>
      <p> <i><small> Freedom and security
      This means that no one can be put in prison without good reason; 
      be detained without trial; be tortured in any way or be treated or punished in a cruel,
      inhuman or degrading way. It means that all humans have a right to be free from all forms of
        violence from either public or private sources.
      Arrested, detained and accused persons
      Any arrested person has a right to a lawyer and cannot be forced to speak or to make a confession.
      Prisoners must be kept in proper living conditions and may have visits from family members.</small></i></p>
      </ion-card-title>
    </ion-card>
  
    <ion-card >
      <ion-card-content align="center"><u>
        Types of Family Law dispute
      </u></ion-card-content>
      <ion-card-title >
        <ion-icon name="heckmark-outline"></ion-icon>Marriage<br>
        <ion-icon name="heckmark-outline"></ion-icon>Divorce<br>
        <ion-icon name="heckmark-outline"></ion-icon>Child Custody<br>
        <ion-icon name="heckmark-outline"></ion-icon>Adoption<br>
      </ion-card-title>
    </ion-card>
  
    <ion-card >
      <ion-card-content align="center"><u>
        Mendotory Documents required to Carry when Lodging a Case<br>
        (with earch given dispute)
      </u></ion-card-content>
      <ion-card-title>
        <ion-icon name="heckmark-outline"></ion-icon>ID<br>
        <ion-icon name="heckmark-outline"></ion-icon>Proof of Adentication<br>
        <ion-icon name="heckmark-outline"></ion-icon>Proof of Resident<br>
        <ion-icon name="heckmark-outline"></ion-icon>Prepare your case vebally<br>
      </ion-card-title>
    </ion-card>
  
    <ion-card >
      <ion-card-content align="center"><u>
        Estimated Costs
      </u></ion-card-content>
      <ion-card-title class="padding">
        <object class="embed-video" [data]="url"></object>
      </ion-card-title>
    </ion-card>
  
    <!-- <ion-card >
      <ion-card-content align="center"><u>
        Other Reference Help
      </u></ion-card-content>
      <ion-card-title>    
        <p>Name of Company: Hill</p>
        <p>website: www.innovationjustice.co.za</p>
      </ion-card-title>
    </ion-card> -->
  </ion-card>

  <ion-footer align="center">
    <!-- <ion-toolbar> -->
       <ion-button color="primary" [routerLink]="['/userlogin']">Seek Help</ion-button>
       <ion-button color="primary" (click)='presentAlertConfirm()'>Save Document</ion-button>
       <ion-button color="success"  [routerLink]="['/lawlogin']">Sign In</ion-button>
    <!-- </ion-toolbar> -->
  </ion-footer>
  
</ion-content>
